<footer>
    <div class="contenido-footer">


        <div class="region region-footer">

            <section id="block-socialmedialinks-2" class="block-social-media-links block col-sm-4 block-social-media-links-block clearfix">


                <ul class="social-media-links--platforms platforms inline horizontal">
                    <li>
                        <a href="https://www.instagram.com/unpaz_oficial" aria-label="Seguinos en Instagram" title="Seguinos en Instagram">
                            <span class="fa fa-instagram fa-2x"></span>
                        </a>

                    </li>
                    <li>
                        <a href="https://www.twitter.com/UNPAZ_Oficial" aria-label="Seguinos en Twitter" title="Seguinos en Twitter">
                            <span class="fa fa-twitter fa-2x"></span>
                        </a>

                    </li>
                    <li>
                        <a href="https://www.facebook.com/unpaz" aria-label="Seguinos en Facebook" title="Seguinos en Facebook">
                            <span class="fa fa-facebook fa-2x"></span>
                        </a>

                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/unpazcanaloficial" aria-label="Seguinos en Youtube" title="Seguinos en Youtube">
                            <span class="fa fa-youtube fa-2x"></span>
                        </a>

                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/148959300@N02" aria-label="Seguinos en Flickr" title="Seguinos en Flickr">
                            <span class="fa fa-flickr fa-2x"></span>
                        </a>

                    </li>
                </ul>


            </section>

            <section id="block-direccionuniversal" class="block block-block-content block-block-content865faa52-c7f4-4c49-bc67-91737be56566 clearfix block-direccion-universal">


                <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                    <h3>UNIVERSIDAD NACIONAL DE JOSÉ CLEMENTE PAZ</h3>
                    <p>Leandro N. Alem 4731 | José C. Paz (C.P 1665) | Prov. Buenos Aires | Argentina</p>
                </div>



            </section>

            <section id="block-ubicacionfooter" class="block block-block-content block-block-content81f28d83-a22f-4151-894c-87a75bc2292e clearfix block-ubicacion">


                <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                    <p><a href="#"><img alt="Ubicación" data-entity-type="file" data-entity-uuid="6aea57fb-89c5-4667-893e-936077663a91" src="/sites/default/files/inline-images/ubicacion_0.png"></a></p>
                </div>

            </section>

        </div>

      </div>

 </footer>