@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Credenciales</h3>
    <hr />

    <h6>Admin</h6>
    <p>
        Usuario: admin@safari.net<br />
        Password: Password@123
    </p>
    <hr />
    <h6>User</h6>
    <p>
        Usuario: user@safari.net<br />
        Password: Password@123
    </p>
</div>

