<configuration>

  <connectionStrings>
	<!--Define database server connection strings here.-->
  </connectionStrings>
  
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory"
              relativeAddress="./EspecieService.svc" service="mvcPet.Services.EspecieService"/>
      </serviceActivations>
	</serviceHostingEnvironment>
	
	<services>
      <service name="mvcPet.Services.EspecieService"
               behaviorConfiguration="DefaultServiceBehavior">

        <endpoint name="basicHttpEspecieService"
                  address=""
                  binding="basicHttpBinding"
                  contract="mvcPet.Services.Contracts.IEspecieService" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

	<bindings>
	</bindings>

    <behaviors>
	  
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

	  <extensions>
		<behaviorExtensions>
	  	</behaviorExtensions>
	  </extensions>
  </system.serviceModel>

  <system.web>
	<compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
	<modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>

